
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home {
	padding: 56px 20px;
	min-height: 100%;
}

.wrapper nav {
	display: flex;
	flex-direction: column;
}