.menuWrapper {
    margin: 10px 0;

}
.disabled {
    pointer-events: none;
    background: var(--color-primary-transparent);
}

.voted {
    font-weight: bold;
    background-color: var(--color-primary-alt);
    pointer-events: none;
}