:root{
	--phone: 600px;
	--tablet: 950px;
	--laptop: 1300;
	--color-link: #0070f3;
	--color-link-dark: #004ba0;
	--color-primary: #673AB7;
	--color-primary-alt: #531cb3;
	--color-primary-transparent: rgba(103, 58, 179, 0.5);
	--color-background: #FAFAFA;
	--color-text: #444;
	--color-text-contrast: #FAFAFA;
}

[data-theme='dark'] {
	--color-text: white;
	--color-text-contrast: rgb(190, 190, 190);
	--color-background: #292929;
	--color-primary: #531cb3;
	--color-primary-alt: #673AB7;
	--color-primary-transparent: rgba(103, 58, 179, 0.5);
	color-scheme: dark;
}


html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


* {
	box-sizing: border-box;
}

#preact_root {
	background: var(--color-background);
	color: var(--color-text);
}

button {
	background: var(--color-primary);
	color: var(--color-text-contrast);
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 4px;
	cursor: pointer;
	font-size: 1.1rem;
}

button:hover, button:active {
	background: var(--color-primary-alt);
}

.buttonLink {
	border: none;
	background: none;
	color: var(--color-link);
	cursor: pointer;
	font-size: 1rem;
}

.buttonLink:hover, .buttonLink:active {
	background: none;
	color: var(--color-link-dark);
}

#preact_root {
	height: 100%;
}
